@import "./components/header";
@import "./components/main";
@import "./components/footer";

/*Estilos globales*/

* {
    font-family: 'Assistant', sans-serif;
}

.navbar {
    height: 140px !important;
    padding: 1rem 4rem 1rem 4rem !important;
}

a:hover {
    color: #000000 !important;
    text-decoration: underline !important;
}

a:link {
    color: #00000081;
    text-decoration: none;
}

a:visited {
    color: #000000;
}


/*este no funciona*/
a:active {
    text-decoration: underline !important;
}

/*este no funciona*/


ul {
    list-style: none;
}

h2 {
    display: flex;
    justify-content: center;
    padding-top: 8rem;
    padding-bottom: 6rem;
}



/*Fin estilos globales*/


/*Inicio estilos especiales*/



/*Fin estilos especiales*/